body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.25rem;
    background-color: #f4f7f6;
    color: #333;
    font-size: 1rem;
}

h1,
h2,
h3 {
    color: #48637e;
    margin-bottom: 1.25rem;
}

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 1.875rem 0;
}

.app-container {
    padding: .5rem 3rem;
}

form {
    margin-bottom: 30px;
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

form input {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    flex: 1;
    min-width: 9.375rem;
}

.secondary-btn {
    background-color: #e2e2e2;
    color: #616161;
    border: none;
    padding: .625rem 1.25rem;
    border-radius: 0.312rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.secondary-btn:hover {
    background-color: #c7c6c6;
}


.message {
    list-style: none;
    color: #6f6f6f;
    font-size: .75rem;
}